/* first question */
.container {
    overflow: auto;
    border: 1px solid #ccc;
}


.sidebar {
    width: 25%;
    float: left;
    background: #f2f2f2;
    padding: 10px;
}
.main-content {
    width: 75%;
    float: left;
    background: #e8f4ff;
    padding: 10px;
}
/* Second question */
ul {
    padding: 0;
    margin: 0;
    font-size: 0; 
}
li {
    display: inline-block;
    font-size: 16px; 
    padding: 10px 15px;
    background: black;
    color: white;
    list-style: none;
}
/* Third question */
.banner {
    height: 200px;
    background: #4a90e2;
    position: relative; 
}

.profile-pic {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: -40px; 
}
/* fourth question */
.box {
    width: 50%;
    border: 2px solid #333;
    padding: 20px;
    margin: 0 auto;
    display: block;

}
/* fifth question */
.notice {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: orange;
    padding: 10px 15px;
    font-weight: bold;
}
.long-content {
    height: 2000px; 
}