        div{
            display: inline;
            margin-right: 10px;

        }
        h1{
            display: inline;
            color: yellow;
            margin-right: 10px;
        }
        p{
            display: inline;
            color: red;

        }
        .red{
            color: red;

        }
        .black{
            color:black;
        }
