.container{
    display: grid;
    color: rgb(11, 12, 12);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
}
.container div:first-child{
    grid-row: span 2;
}
.contain{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 100px);
    gap:10px;
}
.contain div{
    background: rgb(170, 35, 57);
    text-align: center;
    font-size: 24px;
}