*{
    margin: 0px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;    

}
.logo{
 font-size: 35px;
 font-weight: 600;
 color: orangered;
}
.menu a{
    text-decoration: none;
    color: antiquewhite;
    margin: 0 20px;
    font-size: larger;
}
.search-box input{
    background: transparent;
    padding: 5px ;
    border-radius: 7px;
    border-color: orangered;    
}
.search-box input::placeholder{
    color: rgb(235, 240, 245);
    opacity: 2;
}
.search-btn{
    padding: 8px 15px;
    border-radius: 80px;
    cursor: pointer;
    background: orangered;
    color: white;

}
/* hero section */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    color: white;
}
.hero-left{
    width: 55%;
    line-height: 1.2;
}
.hero-left h1{


}